@{
    ViewBag.Title = "Admin Panel";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}
<div class="container mt-4">
    <div class="alert alert-success">Hoş geldiniz, admin!</div>

    <ul class="list-group">
        <li class="list-group-item">
            <a href="#">Kitapları Görüntüle</a>
        </li>
        <li class="list-group-item">
            <a href="#">Yeni Kitap Ekle</a>
        </li>
        <li class="list-group-item">
            <a href="#">Kullanıcıları Yönet</a>
        </li>
        <li class="list-group-item">
            <a href="/Admin/Logout">Çıkış Yap</a>
        </li>
    </ul>
</div>