@{
    ViewBag.Title = "Admin Panel";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Ya da ayrı bir admin layout dosyası da kullanabilirsin
}

<h2>Admin Paneline Hoş Geldiniz</h2>

<p>Buradan kitapları, kullanıcıları veya diğer içerikleri yönetebilirsiniz.</p>

<a href="/Admin/Logout" class="btn btn-danger">Çıkış Yap</a>
