        @{
          ViewData["Title"] = "Kitaplar";
        }
        
        <link rel="stylesheet" href="~/css/kitaplar.css" />

        <div class="navbar">
            <h2>📚 Kitabeviniz</h2>
        </div>
        <h3>Popüler Kitaplar</h3>
        <div class="kitaplar">
            <div class="kitap-kutu">
                 <img src="/img/kitap.jpeg" alt="Kürk Mantolu Madonna">
                 <table>
                    <tr>
                        <th>Kitap Adı</th>
                        <th> Fiyat</th>
                    </tr>
                    <tr>
                        <td>Kürk Mantolu Madonna</td>
                        <td>26.99</td>
                    </tr>
                 </table>
            </div>

            <div class="kitap-kutu">
            <img src ="/img/kitap(1).jpeg" alt="Song Of Ice And Fire">
             <table>
                    <tr>
                        <th>Kitap Adı</th>
                        <th> Fiyat</th>
                    </tr>
                    <tr>
                        <td>Song Of Ice And Fire</td>
                        <td>79.99</td>
                    </tr>
                 </table>
            </div>

            <div class="kitap-kutu">
                <img src ="/img/kitap(2).jpeg" alt="Song Of Ice And Fire">
             <table>                
                    <tr>
                        <th>Kitap Adı</th>
                        <th> Fiyat</th>
                    </tr>
                    <tr>
                        <td>Notre Dame'ın Kamburu</td>
                        <td>69.99</td>
                    </tr>
                 </table>
            </div>

            <div class="kitap-kutu">
                <img src ="/img/kitap(3).jpeg" alt="Nutuk">
             <table>
                    <tr>
                        <th>Kitap Adı</th>
                        <th> Fiyat</th>
                    </tr>
                    <tr>
                        <td>Nutuk</td>
                        <td>89.99</td>
                    </tr>
                 </table>
            </div>

            <div class="kitap-kutu">
                <img src ="/img/Kucukprens.jpg" alt="Küçük Prens">
             <table>
                    <tr>
                        <th>Kitap Adı</th>
                        <th> Fiyat</th>
                    </tr>
                    <tr>
                        <td>Küçük Prens</td>
                        <td>69.99</td>
                    </tr>
                 </table>
            </div>

            <div class="kitap-kutu">
                <img src ="/img/Harrypot.jpeg" alt="Harry Potter ve Felsefe Taşı">
             <table>
                    <tr>
                        <th>Kitap Adı</th>
                        <th> Fiyat</th>
                    </tr>
                    <tr>
                        <td>Harry Potter ve Felsefe Taşı</td>
                        <td>144.99</td>
                    </tr>
                 </table>
            </div>

            <div class="kitap-kutu">
                <img src ="/img/wi_500.jpeg" alt="Hobbit">
             <table>
                    <tr>
                        <th>Kitap Adı</th>
                        <th> Fiyat</th>
                    </tr>
                    <tr>
                        <td>Hobbit</td>
                        <td>159.99</td>
                    </tr>
                 </table>
            </div>

            <div class="kitap-kutu">
                <img src ="/img/Heidi.jpeg" alt="Heidi">
             <table>
                    <tr>
                        <th>Kitap Adı</th>
                        <th> Fiyat</th>
                    </tr>
                    <tr>
                        <td>Heidi</td>
                        <td>124.99</td>
                    </tr>
                 </table>
            </div>

            <div class="kitap-kutu">
                <img src ="/img/wi_800.jpeg" alt="Don Kişot">
             <table>
                    <tr>
                        <th>Kitap Adı</th>
                        <th> Fiyat</th>
                    </tr>
                    <tr>
                        <td>Don Kişot</td>
                        <td>44.99</td>
                    </tr>
                 </table>
            </div>

            <div class="kitap-kutu">
                <img src ="/img/Çalıkuşu.jpg" alt="Çalıkuşu">
             <table>
                    <tr>
                        <th>Kitap Adı</th>
                        <th> Fiyat</th>
                    </tr>
                    <tr>
                        <td>Çalıkuşu</td>
                        <td>494.99</td>
                    </tr>
                 </table>
            </div>           

        </div>                   

 