@model List<Basics.Models.Kitap>

@if (TempData["SuccessMessage"] != null)
{
    <div style="background-color: #d4edda; color: #155724; padding: 10px; margin-bottom: 15px; border: 1px solid #c3e6cb;">
        @TempData["SuccessMessage"]
    </div>
}


@{
    ViewBag.Title = "Sepetim";
}

<h2>Sepetinizdeki Kitaplar</h2>

@if (Model.Count == 0)
{
    <p>Sepetiniz boş.</p>
}
else
{
    <ul>
        @foreach (var kitap in Model)
        {
            <li>
                Kitap ID: @kitap.Id 
                <a href="/Cart/AddToCart/@kitap.Id" class="btn-sepet">🛒 Sepete Ekle</a>

            </li>
        }
    </ul>
}
